@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

:root {
  font-size: 62.5%;
  font-family: "Manrope", serif;
  --navTop: #f53e32;
  --buttonHover: #7e1811;
  --cardBorder: #e9e9e9;
  --filter: #f7f7f8;
  --borderButtonRed: #64b496;
  --amountItemsFiltered: #7a7a7a;
  --tagHover: #6e6e6e;
}
* {
  box-sizing: border-box;
}
body {
  font-size: 2rem;
  main {
    color: white;
    .headerNav {
      height: 70px;
      background-color: var(--navTop);
      margin-bottom: 10rem;
      nav {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        align-items: center;
        height: 100%;
        max-width: 1300px;
        font-family: "Manrope", serif;
        font-weight: 600;
        font-size: 1.9rem;
        letter-spacing: 1px;
        a {
          text-decoration: none;
          color: white;
        }
        div {
          font-size: 1.4rem;
          font-weight: 500;
        }
      }
    }
    .mainSection {
      margin: 0 auto;
      max-width: 1300px;
      height: auto;
      display: flex;
      justify-content: space-between;
      .filter {
        color: black;
        font-weight: 500;
        background-color: var(--filter);
        width: 306px;
        height: 969.97px;
        border-radius: 5px;
        border: 1px solid var(--cardBorder);
        padding: 2.5rem;
        h4 {
          font-size: 1.6rem;
          letter-spacing: 0.2rem;
          margin-bottom: 2rem;
        }
        hr {
          height: 1px;
          border: none;
          background-color: var(--cardBorder);
        }
        .productCategory {
          ul {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            margin-top: 3rem;
            font-weight: 400;
            margin-bottom: 3rem;
            li {
              font-size: 1.4rem;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              color: var(--amountItemsFiltered);
              div {
                display: flex;
                align-items: center;
                gap: 1rem;
                letter-spacing: 0.1rem;
              }
            }
          }
        }
        .filterByPrice {
          p {
            font-size: 1.6rem;
            font-weight: 800;
          }
          .priceSlider {
            input {
              padding: 1.6rem 0;
              width: 100%;
            }
          }
          button {
            margin-top: 2rem;
            margin-bottom: 4rem;
            color: white;
            width: 80px;
            height: 40px;
            border-radius: 5px;
            border: 1px solid var(--borderButtonRed);
            background: var(--navTop);
            font-size: 1.6rem;
            cursor: pointer;
            &:hover {
              background-color: var(--buttonHover);
            }
          }
        }
        .productTags {
          .gridTags {
            button {
              margin-top: 1rem;
              height: 32px;
              padding: 1rem;
              background-color: white;
              color: var(--amountItemsFiltered);
              border-radius: 5px;
              border: 1px solid var(--cardBorder);
              padding: 4px 8px;
              font-size: 1.4rem;
              cursor: pointer;
              &:hover {
                background-color: var(--tagHover);
                color: white;
              }
            }
          }
        }
      }
      .productLayout {
        color: black;
        /* background-color: lightgreen; */
        width: 990px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        .productSorting {
          background-color: var(--filter);
          width: 966px;
          height: 47px;
          margin-bottom: 3rem;
          border-radius: 5px;
          border: 1px solid var(--cardBorder);
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 1.5rem;
          color: var(--amountItemsFiltered);
          padding: 1rem;
          #sortDropdown {
            width: 19.2rem;
            padding: 0.4rem;
            text-align: center;
          }
          :first-child {
            display: flex;
            align-items: center;
            gap: 1rem;
            font-size: 1.5rem;
            letter-spacing: 0.15rem;
            button {
              width: 3.4rem;
              height: 3.4rem;
            }
          }
        }
        .productGrid {
          /* background-color: lightslategray; */
          width: 966px;
          height: auto;
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
          gap: 2rem;
          padding: 1.4rem;
          color: black;
          .productCard {
            background-color: white;
            height: 477px;
            width: 306px;
            border-radius: 5px;
            border: 1px solid var(--cardBorder);
            text-align: center;
            position: relative;
            .productImage {
              padding-top: 1rem;
              display: block;
              object-fit: cover;
              padding-bottom: 3rem;
            }
            #addToCart {
              background-color: var(--filter);
              width: 4rem;
              height: 4rem;
              border-radius: 5rem;
              border: 1px solid var(--cardBorder);
              position: absolute;
              bottom: 16.5rem;
              right: 13rem;
              cursor: pointer;
              &:hover {
                background-color: var(--tagHover);
                color: white;
              }
            }
            h4 {
              color: var(--amountItemsFiltered);
              font-size: 1.3rem;
              letter-spacing: 0.1rem;
            }
            .rating {
              display: flex;
              justify-content: center;
              align-items: center;
              padding-top: 0.4rem;
              padding-bottom: 1rem;
              p {
                font-size: 1.3rem;
                color: var(--amountItemsFiltered);
              }
              i {
                color: orange;
              }
            }
            p {
              font-size: 1.5rem;
              font-weight: 500;
              letter-spacing: 0.2rem;
              line-height: 2rem;
            }
            .pricing {
              padding-top: 2rem;
              display: flex;
              justify-content: center;
              align-items: center;
              .productCardSalePricing {
                font-weight: 900;
                font-size: 1.8rem;
                color: var(--navTop);
              }
              .productCardPricing {
                font-size: 1.3rem;
                text-decoration: line-through;
                margin-left: 1rem;
              }
            }
          }
        }
        .gridPagination {
          padding: 2rem;
        }
      }
    }
  }
}
